/* Variables */
$primary-background-color: rgb(48, 50, 160);
$primary-about-me-color-gradient: linear-gradient(
    180deg,
    rgb(34, 34, 223),
    rgb(40, 40, 155),
    rgb(5, 5, 112)
);
$primaryh1-font: 'Arial, sans-serif';
$primaryh1-size: 2.5rem;
$primaryh1-color: white;
$primary-img-width: 200px;
$primary-img-height: 300px;
$div-box-width: 350px; 
$div-box-height: 600px; 
$p-color: white;
$boxborder: 2px solid black;

body {
    background: $primary-background-color;
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;


    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.about-me{
    width: $div-box-width;
    height: $div-box-height;
    border: $boxborder;
    background-color: azure;

    img{
        width: $primary-img-width;
        height: $primary-img-height;
        margin-left: 50px;
    }
}

.project{
    width: 600px;
    height: 450px;
    border: $boxborder;
    background-color: azure;

    img{
        margin-left: 25px;
        width: 550px;
        height: 300px;
    }
}
.video{
    width: 400px;
    height: 300px;
    border: $boxborder;
    background-color: azure;

}

.education{
    width: 300px;
    height: 200px;
    border: $boxborder;
    background-color: azure;
 
}

.table{
    width: 300px;
    height: 200px;
    border: $boxborder;
    background-color: azure;

}